<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chillflix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header"> 
        <a href="#home" class="logo">Chillflix</a>
        <nav class="navbar">
            <a href="/" class="active">Home</a>
            <a href="/index">Movies</a>
            <a href="/recommend">Recommend</a>
        </nav>
    </header>

   
    <footer class="footer">
        <p class="copyrights">Copyright ©2025 All rights reserved  |  This website is made with ❤ by Avneesh</p>
    </footer>
    
</body>
</html>
